body {
    padding: 0;
    border: 0;
    margin: 0;
}

:root {
    font-size: 62.5%;
}

/* Menú de navegación */
.Menu__lista {
    display: flex;
    flex-direction: row;
    margin-top: 0;
    justify-content: flex-end;
    margin-bottom: 5px;
    height: 12vh;
}

.Menu__lista__items {
    list-style: none;
    margin: 3rem 1rem;
    font-size: 1.4rem;

}


.Menu__lista--radius:hover {
    background-color: #dfe1e5;
    height: 4rem;
    position: relative;
     top: -10px;
    z-index: 1;
    border-radius: 50%;
}

.Menu__lista__items__links {
    text-decoration: none;
    color: #212121;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    z-index: 10;
}

.Menu__lista__items__links:hover {
    text-decoration: underline;
}

.Menu__lista__items__icon {
    position: relative;
    top: -7px;
    left: -3px;
    margin: 3px 5px 3px 10px;
    /* height: 3rem; */
}

.Menu__lista__items__icon:hover {
    top: 3.5px;
    left: -2px;
    width: 2.8rem;
}


.Menu__lista__items__foto {
    width: 35px;
    height: 35px;
    position: relative;
    top: -12px;
    margin: 3px 20px 5px 3px;
    border-radius: 50%;
}

/* Contenido Principal */

main {
    height: 68vh;
}

.logo__figura {
    display: flex;
    justify-content: center;
    padding: 1.8rem 0;
}

.busqueda,
.Boton-buscar {
    display: flex;
    width: 100vw;
    justify-content: center;
}

.busqueda__contenedor {
    display: flex;
    justify-content: center;
    padding: 1.8rem 0;
    width: 45%;
    border-radius: 2.5rem 2.5rem 2.5rem 2.5rem;
    border: 1px #dfe1e5 solid;
}

.busqueda__contenedor__lupa {
    margin: 0px 5px;
    width: 2rem;
    height: 2rem;
}

.busqueda__contenedor__input {
    margin: 0px 5px;
    width: 83%;
    outline-style: none;
    border: 0;
}

.busqueda__contenedor__camara {
    width: 2.5rem;
    margin: 0px 5px;
}

.Boton-buscar__contenedor {
    display: flex;
    justify-content: center;
    padding: 1.8rem 0;
    width: 40%;
}

.Boton-buscar__contenedor_enviar {
    margin: 0px 1rem;
    outline-style: none;
    border: 0;
    padding: 1rem 2rem;
    background-color: #f8f9fa;
    color: #212121;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}

.Boton-buscar__contenedor_enviar:hover {
    border: 1px #dfe1e5 solid;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

/* Pie de página */

footer {
    background-color: #f2f2f2;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
}

.informacion {
    border-bottom: 1.5px #dfe1e5 solid;
    padding: 5px;
}

.informacion__pais {
    margin: 10px 20px;
    color: #70757a;
    font-family: 'Roboto', sans-serif;
}

.acerca-de {
    display: flex;
    margin: 10px 20px;
}

.acerca-de__link {
    display: flex;
}

.acerca-de__link__item {
    list-style: none;
    margin: 5px 10px;
}

.acerca-de__link__item a {
    text-decoration: none;
    color: #70757a;
    font-family: 'Roboto', sans-serif;
    position: relative;
    top: 1.2rem;
}

.acerca-de__link__item a:hover{
    text-decoration: underline;
}

.condiciones {
    margin-left: auto;
}